/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

/* General styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

* ::selection {
    background-color: rgba(127, 255, 212, 0.211);
}

body {
    transition: 0.3s;
    color: #2b2b2b;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='78' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bababa' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    /* Sets CSS for header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Setting CSS for font styles */
h2 {
    font-size: 34px;
}

h3{
    font-size: 23   px;
}

p{
    font-weight: 300;
    font-size: 20px;
    line-height: 2;
}

.header-menu a{
    /* Sets CSS for header menu links */
    display: inline-block;
    transition: 0.1s;
    margin-left: 20px;
    text-decoration: none;
    color:#2b2b2b;
    padding: 10px 15px;
    border-radius: 20px;
}

.header-logo{
    /* Sets CSS for header logo */
    transition: 0.25s;
    user-select: none;
}

.header-logo:hover {
    /* Sets hover state for header logo */
    cursor: pointer;
    transform: translate(0, -5px);
}

.header-menu a:hover,
.header-menu a.active {
    /* Sets CSS for menu link hover and active states */
    transform: scale(1.12);
    background-color: #2b2b2b;
    color: white;
}



/* Header styling 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 23px;
}

/* Form styling */
body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

form div {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

select {
    padding: 8px;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    padding: 15px 20px;
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}
